<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-6 medium-6 large-6 columns">
    <p>
      <strong><%= @post.title %></strong>
    </p>
  </div>
  <div class="small-6 medium-6 large-6 columns">
    <p><%= @post.date %></p>
  </div>
</div>
<p>
  <%= raw(@post.body) %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
