<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Modern Day Renaissance Agrarian</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar top-margin" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Modern Renaissance Agrarian", root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      
      <section class="top-bar-section">
        <ul class="right">
          <li><%= link_to "About Mike", about_path %></li>
          <li><%= link_to "Contact Mike", contact_path %>
          <!-- To do a dropdown:
          <li class="has-dropdown">
            <a href="#">Button with dropdown</a>
            <ul class="dropdown">
              <li><a href="#">First link</a></li>
              <li><a href="#">Second link</a></li>
            </ul>
          </li> -->
        </ul>


      </section>
    </nav>
    <div class="row first">
      <%= yield %>
      <%= javascript_include_tag "application" %>
      <footer class="small-12 columns">
        <p>Copyright <%= DateTime.now.strftime("%Y") %>, Mike Vezzani</p>
      </footer>
    </div>
  </body>
</html>
